*{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    font-size: 40px;
}
.wrap{
    text-align: center;
}
.button{
    background-color: brown;
    font-size: 30px;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    margin: 30px auto;
    color: white;
    border:1px solid darkred;
    display: block;
}

.button:hover{
    cursor: pointer;
}

.button:focus{
    outline: none;
}


.cell{
    background-color: gray;
    background-size: cover;
    border: 1px solid blue;
    width: 60px;
    height: 60px;
    display: inline-block;
}

#field {
    display: inline-block;
    border: 1px solid blue;
}

.row {
    height: 60px;
}

.wrap_time{
    font-size: 25px;
    text-transform: uppercase;
    border-radius: 50%;
    color: white;
    background-color: brown;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 50px;
    right: 50px;

}

.hover-cell {
    background-image: none !important;
    background: gray;
}